<launch>
  <param name="robot_description" textfile="$(find mbot_description)/urdf/mbot_base.urdf" />
  
  <!-- 设置GUI参数，显示关节控制插件 -->
  <param name="gui" value="true"/>
   
  <!-- 运行robot_state_publisher节点，发布tf -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <!-- 运行rviz可视化界面 -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mbot_description)/config/mbot.rviz" required="true" />
</launch>
